.ImageView {
  overflow: scroll;
  height: 90vh;
  width: 80vw;
}

.ImageView-canvas {
  cursor: crosshair;
  background-size: 20px 20px;
  background-image: linear-gradient(
      to right,
      rgba(64, 64, 64, 0.5) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(64, 64, 64, 0.5) 1px, transparent 1px);
}
